<div class="home-container">
  <app-card
    gameCover="/bt-1.jpg"
    gameLabel="ESPECIAL EDITION"
    gameType="DIGITAL"
    gamePrice="R$ 299,99"
  />
  <app-card
    gameCover="/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL"
    gamePrice="R$ 99,99"
  />
  <app-card
    gameCover="/bt-5.jpg"
    gameLabel="NEW"
    gameType="DIGITAL"
    gamePrice="R$ 499,99"
  />
  <app-card
    gameCover="/ac-cover.jpg"
    gameLabel="BEST OF YEAR"
    gameType="DIGITAL"
    gamePrice="R$ 259,99"
  />
</div>
